body {
    background-color: antiquewhite;
    font-family: "Poppins', sans-serif";
    overflow-x: hidden;
}

header {
    height: 6rem;
    padding: 0;
    margin: 0;
    width:100%;
    background-image: linear-gradient(to right, rgb(136, 136, 153) , rgb(125, 146, 238));
    color: ghostwhite;
    position: fixed;
    z-index: 1000;
}

a {
    color: ghostwhite;
    font-size: 18px;
}

a:hover {
    color:teal;
    font-size: 22px;
    text-decoration: none;
}

main {
    padding-top: 7rem;
}

h5 {

}

h2 {
    font-style: italic;
}

.header-row {
    width: 100vw;
    height: 6rem;
}


.logo {
    background: url("./lab10_images/Logo.svg");
    /* background-size: cover; */
    background-size: auto 10rem;
   
    background-repeat: no-repeat;
}

.anchor {
    position: relative;
    top: -7rem;
    display: block;
}

.restPic {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 1rem;
}

.pic-caption {
    width: 100%;
    margin: auto;
    text-align: center;
}

.description {
    font-style: italic;
    padding-left: 2rem;
    margin-bottom: 2rem;
    padding-right: 5rem;
}

.row {
    width: 100%;
    width:100vw;
}

.gallery {
    justify-content: space-around;
}

.menu {
    background-color: ghostwhite;
}



