body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: rgb(205, 205, 209);
  overflow-x: hidden;
}

header {
  height: 6rem;
}

.header-container {
  background-image: url("./images/LogoSVG.svg");
  height: 100%;
  background-size: auto 110%;
  background-repeat: no-repeat;
  border-bottom: 2px solid black;
}

.tabs_container {
  background-color: white;
  min-height: 40rem;
}

.about-me {
  background-color: white;
  border: 2pt solid black;
}

.inputs {
  width: 6rem;
}

#contact-btn {
  position: absolute;
  right: 1.5rem;
  top: 1.75rem;
}

.cover {
  height: 20rem;
  width: auto;
  border: 2px solid darkslategray;
}

.pics {
  background-color: white;
  padding: 2rem 0;
  border: 2pt solid black;
}

.card {
  border: 2px solid darkslategray;
}

.projectPics {
  height: auto;
  width: 90%;
  border: 2px solid darkslategray;
}

.cols {
  margin-top: 4rem;
  padding: 0 !important;
}

.topImgs {
  height: 80%;
  width: auto;
  max-height: 250px;
}

.about-me img {
  margin: auto;
  display: block;
}

#dropdownLinks {
  position: absolute;
  top: 1.75rem;
  right: 9.5rem;
}

#packersImage {
  border: 2pt solid darkslategray;
}

@media only screen and (max-width: 767px) {
  .cover {
    width: 75%;
    height: auto;
  }

  #secondDiv {
    padding-top: 2rem;
  }

  #packersImage {
    margin-top: 1rem;
  }

  #uwecLogo {
    margin-top: 1rem;
  }
}
